rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Data Project: Siapa aja boleh liat, tapi cuma ADMIN yang boleh edit
    match /projects/{document} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == "e9MbANxWmLh5XHAwGrDc3w1AlTb2";
    }

    // Project History: cuma ADMIN
    match /history/{document} {
      allow read, write: if request.auth != null && request.auth.uid == "e9MbANxWmLh5XHAwGrDc3w1AlTb2";
    }

    // Settings (profile photo): ADMIN aja yg boleh write, semua orang boleh read
    match /settings/{document} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == "e9MbANxWmLh5XHAwGrDc3w1AlTb2";
    }

    // Default: Tutup semua akses selain yang diizinkan di atas
    match /{document=**} {
      allow read, write: if false;
    }
  }
}